.maincontainer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    font-family:Forte;
    font-size: 28px;
    width: 70%;
    text-align: start;
    display: flex;
    margin: auto;
    /* overflow: hidden; */
   
}