.maincontainer{
    width: 80px;
    height: 110px;
    padding-left: 10px;
    display: flex;
    text-align: center;
    flex-direction: row;
    position: fixed;
    bottom: 50px;
    right: 85px;
}

.R__letter{
    font-family: Bernard MT Condensed;
    font-size: 90px;
    color: white;
    -webkit-text-stroke: 2px  red;
    animation: R-move 10s infinite;
    animation-timing-function: linear;
    z-index: 1;
}

@keyframes  R-move  {
    0%, 20%{
        transform: translateY(0) rotateY(360deg);
        
    }
    10% {
        transform: translateY(-90px) rotateY(0deg);
    }
    100% {
        transform: translateY(0px) rotateY(360deg);
        animation-delay: 4s;
    }
  }

  
  