
@import url(https://fonts.googleapis.com/css?family=Saira+Stencil+One);
@import url('./../..//const/colors.css');
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
    padding: 0;
    margin: 0!important;
    /* background-color: #e7d6fc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    font-family: "Saira Stencil One", cursive!important;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px !important;
}

.video__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 690px;
    object-fit: cover;
  }

  .text__container{
    height: 800px;
    width: 100%;


  }

  .text {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    min-width: 800px;
    height: 115px;
    margin: 0;
    padding-left: 20%;
    font-weight: 400!important;
    font-size: 70px!important;
    text-transform: uppercase;
    background-color: rgb(120, 120, 120) !important;
    mix-blend-mode: screen;
    /* margin-top: 30px; */
    color:rgba(250, 155, 250, 0.925);
    /* color: var(--blue); */
    opacity: 1;
    /* -webkit-text-stroke: 2px black; */
  }

  .text:hover{
    color: rgb(230, 161, 161);
    opacity: 1 !important;
    text-shadow: 3px 3px red;
  }