
@import url(https://fonts.googleapis.com/css?family=Saira+Stencil+One);
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0!important;
    background-color: #c02323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-family: "Saira Stencil One", cursive!important;
    width: 100%;
}

.video__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .text {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 50%;
    min-width: 800px;
    height: 115px;
    margin: 0;
    padding-left: 40px;
    font-weight: 400!important;
    font-size: 70px!important;
    text-transform: uppercase;
    background-color: #ffe2fe60!important;
    mix-blend-mode: screen;
    /* margin-top: 30px; */
    color:rgba(250, 180, 251, 0.925);
    opacity: 1;
    /* -webkit-text-stroke: 2px black; */
  }

  .text:hover{
    color: white;
    opacity: 1;
    text-shadow: 2px 2px red;
  }